<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="log" value="D:\meituanApp\MeiTuanDownload\log\" />
    <add key="con" value="server=192.168.0.109;pwd=zzb@123..;uid=sa;database=AIS20250620163115" />
    <add key="signKey" value="3eud0yy4xlskye63" />
    <add key="developerId" value="115458" />
    <add key="code" value="ad546e243821dc50654f8184a4abb296" />
    <add key="addDays" value="-2" />
    <add key="stockaddDays" value="-4" />
    <add key="begintime" value="true" />
    <add key="appAuthToken" value="V2-53d968b5badb4f2eafc45be5fe2817acc2d75a29765aa0ae1f47897a3b102addb89ffbb6b36c0ac1614b35ddc01660cb0d4fff49cead872b30a0fe96be0cacb9" />
    <add key="refreshToken" value="7a1633abb20728a55bb801e387fc0d915e05f0af119f5a8c8679e7d4bb6dc308c5763f9f6eff932a907fdc71dfd4a509d6941918ebe46ce4f42f97ebcf67ff95" />
    <add key="tokenUpdateTime" value="2025-12-01" />
  </appSettings>
</configuration>