<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="log" value="C:\Users\Administrator\Desktop\"/>

    <add key="con" value="server=Localhost;pwd=zzb@123..;uid=sa;database=AIS20250620163115"/>


    <add key="url" value="http://61.169.8.35:38080/k3cloud/"/>
    <add key="dbid" value="66e01092ad407c"/>
    <add key="user" value="administrator"/>
    <add key="pwd" value="kingdee@123"/>
    
  </appSettings>
  
</configuration>