<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
    <add key="logpath" value="D:"/>
    <add key="path" value="E:\kingdee\HYH\zzb_HYH_SHR\wyj_HYH_SHR\bin\Debug"/>
    <!--<add key="httpurlpc" value="http://192.168.100.15:6699/pc/"/>
    <add key="httpurlh5" value="http://192.168.100.15:6699/h5/"/>-->
    <!--<add key="httpurlpc" value="http://192.168.9.126:80/"/>-->
    <add key="httpurlh5" value="http://127.0.0.1:6699/"/>


  </appSettings>
</configuration>
